{% extends 'base.html' %}

{% block content %}

    <!--calendar css-->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <!-- Start content -->
    <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Calender</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Agroxa</a></li>
                                        <li class="breadcrumb-item active">Calender</li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="page-content-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-30">
                                    <button type="button" class="btn btn-outline-primary waves-effect waves-light"
                                            href="create_schedule.html"><a href="create_schedule.html">Create new employee Schedule</a></button>
                                        <div class="card-body">
                                            <div id='calendar'></div>
            
                                            <div style='clear:both'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <!-- end page content-->

                    </div> <!-- container-fluid -->

    </div> <!-- content -->




            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->



        <!-- END wrapper -->
            

        <!-- jQuery  -->






{% endblock content %}