{% extends 'base.html' %}

    {% block content %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

<div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Inventory List</h4>
                                    <ol class="breadcrumb">
                                    </ol>

                                    <div class="state-information d-none d-sm-block">
                                        <div class="state-graph">
                                            <div id="header-chart-1"></div>
                                            <div class="info">Balance $ 2,317</div>
                                        </div>
                                        <div class="state-graph">
                                            <div id="header-chart-2"></div>
                                            <div class="info">Item Sold 1230</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="page-content-wrapper">

                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                      <div class="card-body">
                                          <form method="post">
                                             {% csrf_token %}

                                              <div class="form-group row">
                                                <label for="example-text-input" class="col-sm-2 col-form-label">Employee ID</label>
                                                <div class="col-sm-10">
                                                   {{ form.employee_id }}
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-2 col-form-label">First Name</label>
                                                <div class="col-sm-10">
                                                    {{ form.first_name}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-number-input" class="col-sm-2 col-form-label">Last Name</label>
                                                <div class="col-sm-10">
                                                    {{ form.last_name }}
                                                </div>
                                            </div>

                                              <div class="form-group row">
                                                <label for="example-number-input" class="col-sm-2 col-form-label">Phone Number</label>
                                                <div class="col-sm-10">
                                                    {{ form.phone_number }}
                                                </div>
                                            </div>

                                              <div class="form-group row">
                                                <label for="example-number-input" class="col-sm-2 col-form-label">Email Address</label>
                                                <div class="col-sm-10">
                                                    {{ form.email_address }}
                                                </div>
                                            </div>

                                              <div class="form-group row">
                                                <label for="example-number-input" class="col-sm-2 col-form-label">Address</label>
                                                <div class="col-sm-10">
                                                    {{ form.address }}
                                                </div>
                                            </div>





                                              <div class="text-right m-t-15">

                                                  <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                            Submit
                                                  </button>
                                              </div>



                                          </form>


                                          <div class = "mt-5">
						                        <h4>
						                            {% if messages %}
						                            <ul class="messages">
					                                {% for message in messages %}
					                                <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
					                                {{ message }} </div>
					                                {% endfor %}
                                                    </ul>
						                            {% endif %}
						                            </h4>
                                          </div>

                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div>
                        <!-- end page content-->

                    </div> <!-- container-fluid -->

                </div> <!-- content -->


</div>

</div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        <!-- END wrapper -->
    {% endblock content%}