{% extends 'base.html' %}



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <!-- Start content -->
{% block content %}

<div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Profile List of Employee</h4>
                                    <ol class="breadcrumb">
                                    </ol>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="page-content-wrapper">
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">

                                            <p class="text-muted m-b-30">
                                            </p>
    
                                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Phone</th>
                                                    <th>Email Address</th>
                                                    <th>Address</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                               {% for item in object %}
                                                <tr>
                                                    <td>{{ item.first_name }}</td>
                                                    <td>{{ item.last_name }}</td>
                                                    <td>{{ item.phone_number }}</td>
                                                    <td>{{ item.email_address }}</td>
                                                    <td>{{ item.address }}</td>
                                                </tr>

                                                {% endfor %}
                                         </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div>
                        <!-- end page content-->

                    </div> <!-- container-fluid -->

                </div> <!-- content -->


</div>


{% endblock content %}
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

