{% extends 'base.html' %}



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <!-- Start content -->
{% block content %}

<div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Inventory List</h4>
                                    <ol class="breadcrumb">
                                    </ol>
            
                                    <div class="state-information d-none d-sm-block">
                                        <div class="state-graph">
                                            <div id="header-chart-1"></div>
                                            <div class="info">Total Sale $ {{ total_sale }}</div>
                                        </div>
                                        <div class="state-graph">
                                            <div id="header-chart-2"></div>
                                            <div class="info">Item Sold {{ total_qty }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="page-content-wrapper">
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
    
                                            <h4 class="mt-0 header-title">All sold Items</h4>

    
                                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Product</th>
                                                    <th>Gross Sale</th>
                                                    <th>Quantity</th>
                                                    <th>Month</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                               {% for item in object %}
                                                <tr>
                                                    <td>{{ item.category }}</td>
                                                    <td>{{ item.product }}</td>
                                                    <td>{{ item.gross_sale }}</td>
                                                    <td>{{ item.qty }}</td>
                                                    <td>{{ item.month }}</td>
                                                </tr>

                                                {% endfor %}
                                         </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div>
                        <!-- end page content-->

                    </div> <!-- container-fluid -->

                </div> <!-- content -->


</div>


{% endblock content %}
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

